body{
    font-family: Arial, Helvetica, sans-serif;
}

#campo{
    background-color: darkgray;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
}

#div-recorde{
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 150px;
    font-size: 18px;
    color: #4f4f4f;
    text-align: left;
}

#recorde-atual{
    font-size: 22px;
}

.virus{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('img/virus.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#div-mensagem{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    vertical-align: middle;
    padding-top: 10%;
}

#parede_campo_top { 
    background-color:grey;
    position:absolute; 
    top:0px; 
    left:0px;
    width:100%;
    height:10px;
}

#parede_campo_bottom { 
    background-color:grey;
    position:absolute; 
    bottom:0px; 
    left:0px; 
    width:100%;
    height:10px;
}

#parede_campo_right { 
    background-color:grey;
    position:absolute; 
    top:0px; 
    right:0px;
    width:10px;
    height:100%;
}

#parede_campo_left { 
    background-color:grey; 
    position:absolute; 
    top:0px; 
    left:0px; 
    width:10px; 
    height:100%;
}
