html{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(to right, rgba(0,230,0,0.4), rgba(0,230,180,0.4));
}

.div-adsense{
    position: fixed; 
    bottom: 0px; 
    max-height: 120px; 
    width: 100%;
}

#campo{
    background: radial-gradient(#FFF, rgba(171, 172, 172, 0.4))  !important;
    position: relative;
    top:15px;
    left: 1%;
    width: 98%;
}

#regressiva{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1050;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 110px;
    background-color: rgba(0,0,0,0.4);
}

#div-recorde{
    position: fixed;
    height: 20%;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
    color: #4f4f4f;
    text-align: left;
}

#div-pontuacao{
    position: fixed;
    height: 20%;
    bottom: 5px;
    right: 5px;
    font-size: 18px;
    color: #4f4f4f;
    text-align: right;
}

#recorde-atual{
    font-size: 17px;
}

.virus{
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../img/virus.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

#div-mensagem{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    vertical-align: middle;
    padding-top: 10%;
}

#parede_campo_top { 
    background-color:grey;
    position:absolute; 
    top:0px; 
    left:0px;
    width:100%;
    height:3%;
}

#parede_campo_bottom { 
    background-color:grey;
    position:absolute; 
    bottom:0px; 
    left:0px; 
    width:100%;
    height:3%;
}

#parede_campo_right { 
    background-color:grey;
    position:absolute; 
    top:0px; 
    right:0px;
    width:1%;
    height:100%;
}

#parede_campo_left { 
    background-color:grey; 
    position:absolute; 
    top:0px; 
    left:0px; 
    width:1%; 
    height:100%;
}

#modal_inicio{
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #aaa;
    width: 60%;
    margin-top: 30px;
    margin-left: 20%;
    position: absolute;
}
